<div class="container mt-5">
  <div class="row shadow p-3 border rounded">
    <div class="col">
      <h4>Receptjeim</h4>
    </div>
    <div class="col">
      <%= link_to "Új recept", { controller: "recipe", action: "new" }, :class=>"btn btn-success float-right" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="card-deck">

        <% @recipes.each do |recipe| %>
        <div class="card shadow">
          <%= image_tag recipe.image.url %>
          <div class="card-body">
            <h5 class="card-title"><a href="/recipe/<%= recipe.id %>"><%= recipe.name %></a></h5>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= recipe.user.username %> receptje</small>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
