<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col">
            <h2><%= @recipe.name %></h2>
            <%= image_tag @recipe.image.url %>
        </div>
        <div class="col">
            <h5>Hozzávalók</h5>
            <ul>
                <% @recipe.ingredients.each do |ingredient| %>
                    <li><%= ingredient.name %></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>Leírás</h5>
            <p><%= @recipe.description %></p>
        </div>
    </div>

    <div class="row mt-5">
		<div class="col">
			<h3>Kommentek</h3>
		</div>
	</div>

    <div class="row mt-2">
		<div class="col">
			<form action="/recipe/<%= @recipe.id %>/comment" method="post">
                <textarea class="form-control" name="comment"></textarea>
                <input class="btn btn-primary mt-1 float-right" type="submit" value="Komment"/>
			</form>
		</div>
    </div>
    
    <div class="row mt-5">
        <div class="col">
            <% @recipe.comments.each do |comment| %>
                <div class="shadow p-3">
                    <% if current_user.id == @recipe.user.id %>
                        <div class="float-right">
                            <button id="edit-button" class="btn btn-warning fas fa-pen" value="<%= comment.id %>"></button>
                            <%= link_to "", { controller: "comment", action: "delete", id: comment.id, :query => @recipe.id }, method: :delete, :class=>"btn btn-danger fas fa-times" %>
                        </div>
                    <% end %>
                    <h6><%= comment.user.username %></h6>
                    <p id="comment"><%= comment.comment %></p>
                    <small id="create-date"><%= comment.created_at %></small>
                </div>
            <% end %>
		</div>
	</div>
</div>
<script>
    $(document).ready(function() {
        $('#edit-button').click(() => {
            value = $('#comment').text();
            $('#comment').remove();
            $(`<form class="mt-5 mb-5" action="/comment/${$("#edit-button").attr("value")}/modify?recipeid=<%= @recipe.id %>" method="post"><textarea class="form-control" name="edited-comment">${value}</textarea><div class="float-right"><input class="btn btn-primary mt-1 mr-2" type="submit" value="Mentés"/></div></form>`).insertBefore($('#create-date'));
        });
    });
</script>